body {
    background-color: rgb(194, 99, 173);
}

.navbar {
    background-color: #ce2cb8 !important;
    /* rosa claro */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #d177a4 !important;
    /* rosa mais forte */
}

.navbar .navbar-toggler {
    border-color: #d63384 !important;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(214,51,132)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}